[Unit] 
Description=Enable Pipe communication between Docker containers and the host

[Service] 
Type=simple
WorkingDirectory=/opt/qcloud/bin
ExecStart=/opt/qcloud/bin/piped
ExecStop=/opt/qcloud/bin/piped.stop
Restart=on-abort 

[Install] 
WantedBy=multi-user.target
