[Unit]
Description=QCloud web and authentication services
After=network.target 
After=efs.mount 
After=piped.service
Requires=docker.service 
Requires=piped.service
Requires=efs.mount

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/opt/qcloud
ExecStart=/usr/local/bin/docker-compose -f /opt/qcloud/docker-compose.yml up -d
ExecStop=/usr/local/bin/docker-compose  -f /opt/qcloud/docker-compose.yml down

[Install]
WantedBy=multi-user.target
